<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Teaching Performance</h1>


     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name=" Idioma" placeholder="1=Idioma Nativo, 2=Idioma no nativo" required="required" />
    	<input type="text" name="Instructor" placeholder="25 categorias: 1-25" required="required" />
        <input type="text" name="Curso" placeholder="26 categorias:1-26" required="required" />
		<input type="text" name="Semestre" placeholder="1:Verano 2:Regular" required="required" />
      <input type="text" name="Size" placeholder="Class size:1-70" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predecir</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}


   <br>
   <br>
   


 </div>


</body>
</html>
